<template>
  <tr class="emp">
    <td class="emp__item emp__item_id">{{ employee.id }}</td>
    <td class="emp__item emp__item_depId">{{ employee.departmentId }}</td>
    <td class="emp__item emp__item_firstName">{{ employee.firstName }}</td>
    <td class="emp__item emp__item_lastName">{{ employee.lastName }}</td>
    <td class="emp__item emp__item_remove">
      <icon class="emp__delete" name="trash" @click.native="deleteEmployees(employee.id)" />
    </td>
  </tr>
</template>

<script>
  import Icon from 'vue-awesome/components/Icon.vue';
  import { mapActions } from 'vuex';

  export default {
    name: 'Employee',
    components: {
      Icon,
    },
    props: {
      employee: {
        type: Object,
        required: true,
      },
    },
    methods: {
      ...mapActions(['deleteEmployees']),
    },
  };
</script>

<style lang="stylus" rel="stylesheet/stylus" scoped>
  .emp
    &__item
      padding 5px 10px
      border 1px solid #999
    &__item_remove
      text-align: center
    &__delete
      cursor: pointer
      transition: all .15s
      &:hover
        color #ff4100
    
</style>
