<template>
  <table class="employees">
    <tr class="employees__header">
      <th class="employees__head">id</th>
      <th class="employees__head">department id</th>
      <th class="employees__head">first name</th>
      <th class="employees__head">last name</th>
      <th class="employees__head"></th>
    </tr>
    <employee v-for="employee in employees" :key="employee.id" :employee="employee"/>
    <tr>
      <td class="employees__head"><input class="employees__input" placeholder="id" type="text" v-model="params.id"></td>
      <td class="employees__head"><input class="employees__input" placeholder="departmentId" type="text" v-model="params.departmentId"></td>
      <td class="employees__head"><input class="employees__input" placeholder="firstName" type="text" v-model="params.firstName"></td>
      <td class="employees__head"><input class="employees__input" placeholder="lastName" type="text" v-model="params.lastName"></td>
      <td class="employees__head"><icon @click.native="addEmployeesHandler" class="employees__add" name="plus" /></td>
    </tr>
  </table>
</template>

<script>
  import { mapActions, mapState } from 'vuex';
  import Icon from 'vue-awesome/components/Icon.vue';
  import Employee from './Employee.vue';

  const initialParams = {
    id: '',
    departmentId: '',
    firstName: '',
    lastName: '',
  };

  export default {
    name: 'Employees',
    components: {
      Employee,
      Icon,
    },
    data() {
      return {
        params: Object.assign({}, initialParams),
      };
    },
    created() {
      this.fetchEmployees();
    },
    computed: {
      ...mapState({
        employees: (state) => state.employees.employees,
      }),
    },
    methods: {
      ...mapActions(['fetchEmployees', 'addEmployees']),
      addEmployeesHandler() {
        this.addEmployees(Object.assign({}, this.params))
          .then(() => Object.assign(this.params, initialParams));
      },
    },
  };
</script>

<style lang="stylus" rel="stylesheet/stylus" scoped>
  .employees
    border-collapse collapse
    width: 100%
    &__head
      border 1px solid #999
      padding: 5px 10px
    &__input
      display: block;
      width: 100%;
      height: 34px;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.42857143;
      color: #555;
      background-color: #fff;
      background-image: none;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
      transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
      &:focus
        border-color: #66afe9;
        outline: 0;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    &__add
      cursor: pointer
      &:hover
        color #ff5000
</style>
