<template>
  <div class="department">{{ department.name }}</div>
</template>

<script>
  export default {
    name: 'Department',
    props: {
      department: {
        type: Object,
        required: true,
      }
    }
  };
</script>

<style lang="stylus" rel="stylesheet/stylus" scoped>
  .department
    width 100%
    border 1px solid #ddd
    padding 5px 10px
    border-radius 5px
    margin-bottom 5px
</style>