<template>
  <div>
    <Department
      v-for="department in departments"
      :key="department.id"
      :department="department"
    />
  </div>
</template>

<script>
  import { mapActions, mapState } from 'vuex';
  import Department from './Department.vue';

  export default {
    name: 'Departments',
    components: {
      Department,
    },
    created() {
      this.fetchDepartments();
    },
    computed: {
      ...mapState({
        departments: (state) => state.departments.departments
      }),
    },
    methods: {
      ...mapActions(['fetchDepartments']),
    },
  };
</script>

<style lang="stylus" rel="stylesheet/stylus" scoped>
</style>