<template>
  <div class="container">
    <sidebar class="nav" />
    <div class="content"><router-view /></div>
  </div>
</template>

<script>
  import Sidebar from './Sidebar.vue';

  export default {
    components: {
      Sidebar,
    },
    name: 'App',
  };
</script>

<style lang="stylus" rel="stylesheet/stylus">
  @import '~roboto-fontface/css/roboto/roboto-fontface.css'

  .container
    width 1200px
    margin auto
    display flex
    height 100vh
    font-family Roboto
    *
      box-sizing border-box
  .nav
    width 20%
    border-right 1px solid #666
    overflow auto
    height 100%
    padding 20px 15px
  .content
    width 80%
    overflow auto
    height 100%
    padding 20px 15px
</style>
