<template>
  <h1 class="text">Тестовое задание для вас на vue, Потому что я не успел выучить реакт за неделю как расчитывал (:</h1>
</template>

<script>
  export default {
    name: 'Main',
  };
</script>

<style lang="stylus" rel="stylesheet/stylus" scoped>
  .text {
    font-size: 20px
  }
</style>