<template>
  <div class="sidebar">
    <div class="sidebar__item"><router-link to="/" class="sidebar__link">home</router-link></div>
    <div class="sidebar__item"><router-link to="/departments" class="sidebar__link">departments</router-link></div>
    <div class="sidebar__item"><router-link to="/employees" class="sidebar__link">employees</router-link></div>
  </div>
</template>

<script>
  export default {
    name: 'Sidebar',
  }
</script>

<style lang="stylus" rel="stylesheet/stylus" scoped>
  .sidebar
    display flex
    flex-direction column
    &__item
      width: 100%
      transition all .15s
      background-color transparent
      &:hover
        background-color #666
    &__link
      padding 10px 15px
      display block
      width 100%
      height 100%
      &, &:focus
        text-decoration none
        color #000000
        font-size 16px
</style>